<div class="bg-orange-400 p-4 flex items-center">
  <a href="/" class="flex items-center">
    <img src="https://news.ycombinator.com/y18.gif" alt="Hacker News" />
    <span class="pl-3 font-mono text-orange-900 text-lg">Hacker News</span>
  </a>

  <ul class="ml-auto flex items-center">
    <li class="text-sm font-semibold text-white">New</li>
    <li class="pl-6 text-sm font-semibold text-white">Ask</li>
    <li class="pl-6 text-sm font-semibold text-white">Show</li>
  </ul>
</div>
